<aside>
  <div id="sidebar">
    <ul class="sidebar-menu">
      <li >
        <%= link_to dashboard_path do %>
          <i class="fa fa-adjust"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to projetos_path do %>
          <i class="fa fa-clipboard"></i>
          <span>Projetos</span>
        <% end %>
      </li>
      <li >
        <%= link_to activities_path do %>
          <i class="fa fa-tasks"></i>
          <span>Atividades</span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>
